@color-grey-font:#666;
@color-grey-border:#b7b7b9;
@color-green-bg:#22cb9a;
@color-red-bg:#BF7158;
.flex(@justify:center,@align:center){
  justify-content:@justify;
  align-items:@align;
  display: flex;
}
.padding(@num){
  padding:@num;
  box-sizing:border-box;
}
.widget-dialog {
  background: #fff;
  border: 1px solid #eee;
  height: 256px;
  top: 50%;
  font-size: 32px;
  width: 448px;
  border-radius: 14px;
}
.widget-dialog-content {
  text-align: center;
  width: 448px;
  height: 160px;
  display:table-cell;
  vertical-align:middle;
}
.widget-dialog-footer {
  height: 128px;
  text-align:center;
}
.widget-dialog-footer button {
  width: 180px;
  border: 1px solid #eee;
  border-radius: 10px;
  height: 64px;
  color: #fff;
  font-size:32px;
  background: #aaa;
}
.widget-dialog-footer button.confirm {
  background: #22cb9a;
}
.widget-dialog-footer button.close {
  margin-right: 24px;
}
